@font-face {
  font-family: "socialico";
  src: url("fonts/Socialico/Socialico.eot");
  src: url("fonts/Socialico/Socialico.eot?#iefix") format("embedded-opentype"), url("fonts/Socialico/Socialico.woff2") format("woff2"), url("fonts/Socialico/Socialico.woff") format("woff"), url("fonts/Socialico/Socialico.ttf") format("truetype"), url("fonts/Socialico/Socialico.svg#lobster_1.4regular") format("svg"); }

.suspension-contain {
  max-height: 980px;
  overflow: hidden;
  position: relative;
  z-index: 999999; }

html.suspended {
  background: rgba(0, 0, 0, 0.6); }

body {
  max-width: 100%;
  min-width: 1200px;
  margin: 0 auto;
  text-align: center;
  font-family: Arial; }

a {
  color: inherit;
  text-decoration: none; }
  a:hover {
    text-decoration: none;
    color: inherit; }

h1, h2, h3, h4, h5 {
  padding: 0;
  margin: 0; }

.row {
  max-width: 1200px;
  margin: 0 auto; }

/*floats*/
.fl {
  float: left; }

.fr {
  float: right; }

/*grids*/
.col-1 {
  width: 8.33%; }

.col-2 {
  width: 16.66%; }

.col-3 {
  width: 25%; }

.col-4 {
  width: 33.33%; }

.col-5 {
  width: 41.66%; }

.col-6 {
  width: 50%; }

.col-7 {
  width: 58.33%; }

.col-8 {
  width: 66.66%; }

.col-9 {
  width: 75%; }

.col-10 {
  width: 83.33%; }

.col-11 {
  width: 91.66%; }

.col-12 {
  width: 100%; }

/*typography*/
.text-primary {
  color: #B11414; }

.text-bold {
  font-weight: 700; }

.text-uppercase {
  text-transform: uppercase; }

.text-center {
  text-align: center !important; }

.text-left {
  text-align: left; }

/*button*/
.btn {
  font-size: 15px;
  font-weight: 400;
  color: #000;
  display: inline-block;
  padding: 10px 30px;
  background: #fff;
  border: 1px solid transparent;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }
  .btn:hover {
    background: #ddd;
    border-color: #ddd;
    color: #ddd;
    color: #fff; }

/*clearings*/
.clear {
  clear: both; }

.clearfix {
  display: block; }
  .clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    font-size: 0; }

/*cookie*/
.cc-animate.cc-revoke.cc-bottom {
  font-size: 14px;
  padding: 5px 10px;
  position: fixed;
  display: block !important;
  -webkit-transform: none !important;
  -ms-transform: none !important;
  transform: none !important;
  bottom: 0 !important;
  left: 20px !important; }

/*call to action*/
.destroy-on-load, .cta {
  display: none; }

/*contact form messages*/
form .messages p {
  display: none;
  font-family: Arial !important;
  font-weight: 400 !important;
  letter-spacing: 0 !important;
  font-size: 16px !important; }

form .loading {
  display: none; }

form .alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px; }

form .alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6; }

form .alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1; }

form [type="submit"] {
  margin: 20px auto; }

/*contact form*/
.ctc-form {
  margin: 0 auto;
  text-align: center; }
  .ctc-form input[type="text"] {
    font-family: Arial;
    font-size: 16px;
    color: #000;
    height: 45px;
    display: block;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 5px 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 auto 8px; }
  .ctc-form textarea {
    font-family: Arial;
    font-size: 16px;
    color: #000;
    height: 45px;
    display: block;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 5px 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 auto 8px;
    height: 120px;
    padding-top: 10px; }
  .ctc-form button {
    display: block; }
  .ctc-form .recap {
    display: inline-block; }
  .ctc-form .g-recaptcha div {
    margin: 0 auto 10px; }
  .ctc-form .ctc-hide {
    display: none; }

/*gallery*/
#content .gallery-container {
  text-align: center; }

#content .gallery {
  list-style-type: none;
  margin: 0;
  padding: 0; }
  #content .gallery li {
    display: inline-block; }

#content .thumbnail {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  display: block;
  line-height: .42857;
  margin-bottom: 20px;
  padding: 4px;
  -webkit-transition: border 0.5s ease-in-out 0s;
  -o-transition: border 0.5s ease-in-out 0s;
  transition: border 0.5s ease-in-out 0s; }
  #content .thumbnail:hover {
    -webkit-transform: scale(1.02);
    -ms-transform: scale(1.02);
    transform: scale(1.02); }

#content .page_navigation {
  display: inline-block; }

#content .page_link, #content .previous_link, #content .next_link, #content .first_link, #content .last_link, #content .ellipse {
  background-color: #fff;
  border: 1px solid #ddd;
  color: #0275d8;
  display: inline-block;
  line-height: 1.25;
  margin-left: -1px;
  padding: 0.5rem 0.75rem;
  position: relative; }

#content .page_navigation > a:hover {
  background-color: #eceeef;
  border-color: #ddd;
  color: #014c8c;
  text-decoration: none; }

.page_navigation > a.active_page {
  background-color: #eceeef;
  border-color: #ddd;
  color: #014c8c;
  text-decoration: none; }

h1 {
  font-size: 100px;
  font-weight: 100;
  color: #000; }

.socialico {
  font-family: "socialico"; }

/*header*/
#header {
  background: #B3CDE0;
  padding: 40px 0; }
  #header nav a#pull {
    display: none; }
  #header nav ul {
    margin: 0;
    padding: 0; }
    #header nav ul li {
      display: inline-block;
      vertical-align: middle; }
      #header nav ul li.active-menu a, #header nav ul li a:hover {
        color: #fff; }

/*banner*/
#banner {
  background: #6497B1;
  padding: 40px 0; }

/*-----------------------------------------------------------------
-------------------------------------------------------------------
-----------------------------------------------------------------*/
/*-----------------------------------------------------------------
-------------------------------------------------------------------
-----------------------------------------------------------------*/
/*-----------------------------------------------------------------
-------------------------------------------------------------------
-----------------------------------------------------------------*/
/*-----------------------------------------------------------------
-------------------------------------------------------------------
-----------------------------------------------------------------*/
/*footer*/
#footer {
  background: #04396C;
  padding: 40px 0; }
  #footer .silver img {
    display: inline-block;
    vertical-align: middle;
    max-width: 50px; }

/*inner pages*/
.inner #content {
  min-height: 400px;
  padding: 40px 0; }

/*privacy policy*/
.inPrivacyBox {
  max-width: 850px;
  margin: 0 auto; }
  .inPrivacyBox p {
    text-align: justify !important; }

/** Responsive
-------------------------------------------------------*/
/*@media screen and (max-width:1440px){

}*/
/*@media screen and (max-width:1280px){

}*/
/*@media screen and (max-width: 1024px){
	body {min-width: 320px}
	.row {width: 95%}
}*/
/*@media screen and (max-width: 800px){
  [class*="col-"] {
    width: 100%;
  }
	#header {padding: 0}
	#header .row {width: 100%}
	#header nav {display:block; height: auto; }
  	#header nav ul { width: 100%; display: none; height: auto;border-bottom:5px solid #000; padding: 0 15px;}
  	#header nav ul li { width: 100%;position: relative; }
  	#header nav ul li a { display: block; float:none; padding: 10px 0;}
  	#header nav a {text-align: left; width: 100%;}
	#header nav a strong {position: absolute; top: 50%; transform: translateY(-50%); left: 15px;}
	#header nav a#pull {display: block; color: #fff; background-color: #000; height: 30px;padding: 10px 0; width: 100%; position: relative;}
	#header nav a#pull:after { content:""; background: url('../images/nav-icon.png') no-repeat; width: 20px; height: 20px; display: inline-block; position: absolute; right: 15px; top: 50%; transform: translateY(-50%);}

	.cta{background: #035B96  url("../images/common/phonecall.png") no-repeat center center;border-bottom-left-radius: 40px;border-top: 2px solid #013f9a ;border-top-left-radius: 40px;bottom: 1%;display: block;height: 80px;position: fixed;right: 0;text-decoration: none; text-indent: -9999em;width: 100px;z-index: 999;}
}*/
/*@media screen and (max-width:640px){

}*/
/*@media screen and (max-width:480px){

}*/
/*@media screen and (max-width:400px){

}*/
/*@media screen and (max-width:320px){

}*/
