/*button*/

.btn {
  max-width: 198px;
  width: 100%;
  text-align: center;
  font-family: "Montserrat";
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 3px;
  color: #FFFFFF;
  display: inline-block;
  padding: 16px 0;
  background: #D90000;
  border: 1px solid transparent;
  transition: all 0.5s ease;
  &:hover {
    background: #ddd;
    border-color: #ddd;
    color: #333;
  }
}
