/*contact form messages*/

form {
  .messages p {
    display: none;
    font-family: Arial !important;
    font-weight: 400 !important;
    letter-spacing: 0 !important;
    font-size: 16px !important;
  }
  .loading {
    display: none;
  }
  .alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
  }
  .alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
  }
  .alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
  }
  [type="submit"] {
    margin: 20px auto;
  }
}

/*contact form*/

.ctc-form {
  margin: 0 auto;
  text-align: center;
  input[type="text"] {
    font-family: Arial;
    font-size: 16px;
    color: #000;
    height: 45px;
    display: block;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 5px 10px;
    box-sizing: border-box;
    margin: 0 auto 8px;
  }
  textarea {
    font-family: Arial;
    font-size: 16px;
    color: #000;
    height: 45px;
    display: block;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 5px 10px;
    box-sizing: border-box;
    margin: 0 auto 8px;
    height: 120px;
    padding-top: 10px;
  }
  button {
    display: block;
  }
  .recap {
    display: inline-block;
  }
  .g-recaptcha div {
    margin: 0 auto 10px;
  }
  .ctc-hide {
    display: none;
  }
}
