/*banner*/

#banner {
  position: relative;
  .slider{
    img{
      width: 100%;
      height: 893px;
      object-fit: cover;
    }
  }
  .row{
    position: absolute;
    top: 0;
    right: 0;
    left:0;
    bottom: 0;
    max-width: 1200px;
    box-sizing: border-box;
    padding: 68px 0 74px;
  }
  .main-logo{
    filter: drop-shadow(0 0 10px #000000);
    @include width(1200px,524px);
  }
  h1{
    margin: 304px 0 0;
    @include font("Teko",700,65px,7px,120%,#FFFFFF);
    text-shadow: 5px 5px 10px #333333;
  }
  p{
    margin: 0 auto 1.667vw;
    max-width: 1078px;
    @include font("Open Sans",600,20px,1px,180%,#FFFFFF);
  }
  .btn{
    max-width: 242px;
    font-size: 18px;
    font-weight: 700;
    padding: 21.5px 0;
  }
}
