/*header*/

#header {
  .header-top{
    padding: 6px 0;
    .row{
      max-width: 1649px;
      width: 95%;
      @include flex(row,nowrap,space-between,center);
    }
    .email{
      p{
        margin: 0;
        @include font("Century Gothic",700,18px,normal,120%,#333333);
        span{
          font-size: 14px;
          color: #D90000;
          display: inline-block;
          vertical-align: middle;
        }
      }
    }
    .phone{
      p{
        margin: 0;
        @include font("Century Gothic",700,28px,normal,120%,#333333);
        span{
          font-size: 14px;
          color: #D90000;
          display: inline-block;
          vertical-align: middle;
        }
      }
    }
  }
  .header-bottom{
    background: #00254A;
    .row{
      max-width: 1649px;
      width: 95%;
      @include flex(row,nowrap,flex-start,center);
    }
    .header-nav{
      flex-basis: 69.5%;
    }
    .social-media{
      flex-basis: 29%;
      text-align: right;
      a{
        font-size: 41px;
        color: #FFFFFF;
        margin: 0 0.4vw 0 0;
        transition: 0.5s all ease;
        &:hover{
          color: #D90000;
        }
      }
    }
  }
  nav {
    max-width: 792px;
    a#pull {
      display: none;
    }
    ul {
      margin: 0;
      padding: 0;
      @include flex(row,nowrap,space-between,center);
      li {
        display: inline-block;
        vertical-align: middle;
        a {
          display: inline-block;
          box-sizing: border-box;
          padding: 25.5px 21px;
          @include font("Century Gothic",700,16px,normal,120%,#FFFFFF);
        }
        &.active-menu a, a:hover {
          background: #D90000;
          color: #fff;
        }
      }
    }
  }
}
