#welcome{
  background: #003366;
  .row{
    max-width: 1920px;
    width: 100%;
  }
  .top{
    position: relative;
    margin-bottom: -4px;
  }
  .text{
    position: absolute;
    top:74px;
    bottom: 71px;
    left: 185px;
    max-width: 923px;
    padding:54px 98px 54px 85px;
    box-sizing: border-box;
    background: #FFFFFF;
    text-align: left;
    h4{
      @include font("Century Gothic",700,26px,normal,120%,#333333);
    }
    h1{
      @include font("Teko",600,65px,1px,120%,#D80000);
      span{
        color: #003366;
      }
    }
    p{
      @include font("Open Sans",400,15px,normal,32px,#333333);
    }
    .buttons{
      margin-top: 30px;
      @include flex(flex,nowrap,space-between,stretch);
      h5{
        @include font("Century Gothic",700,14px,normal,120%,#D80000);
      }
      .welcome-phone{
        @include font("Century Gothic",700,32px,normal,120%,#333333);
      }
    }
  }
  .main-images{
    max-width: 1280px;
    @include width(1920px, 1280px);
    margin: 0 0 0 auto;
    img{
      width: 100%;
      min-height: 853px;
      object-fit: cover;
    }
  }
  .container-images{
    @include flex(flex,nowrap,space-between,stretch);
    img{
      width: 25%;
      flex-basis: 25%;
    }
  }
}
