#services{
  margin: -4px 0 0;
  .row{
    max-width: 1920px;
    width: 100%;
  }
  .service1, .service2, .service3{
    @include flex(flex,nowrap,space-between,stretch);
    margin-bottom: -4px;
    .image , .text{
      flex-basis: 50%;
    }
  }
  .image{
    img{
      width: 100%;
      min-height: 521px;
      object-fit: cover;
    }
  }
  .text{
    box-sizing: border-box;
    text-align: left;
    &.right{
      padding: 113px 0 0 110px;
      .container{
        max-width: 568px;
        width: 95%;
        margin: 0 auto 0 0;
      }
    }
    &.left{
      padding: 113px 70px 0 0;
      .container{
        max-width: 602px;
        width: 95%;
        margin: 0 0 0 auto;
      }
    }
    h3{
      @include font("Teko",500,32px,1px,120%,#D80000);
      span{
        color: #003366;
      }
    }
    p{
      @include font("Open Sans",400,15px,normal,32px,#333333);
    }
    .btn{
      max-width: 198px;
      font-size: 13px;
      font-weight: 400;
      padding: 16px 0;
    }
  }
}
