#contact{
  .row{
    max-width: 1920px;
    width: 100%;
  }
  .top{
    padding: 100px 0 70px;
    h2{
      @include font("Teko",500,53px,1px,120%,#D80000);
      width: 95%;
      margin: 0 auto;
    }
    p{
      @include font("Open Sans",500,20px,0.7px,180%,#333333);
      max-width: 1078px;
      width: 95%;
      margin: 30px auto;
    }
  }
  .bottom{
    background: #D90000;
    position: relative;
    .contact-form{
      position: absolute;
      box-sizing: border-box;
      top: 49px;
      bottom: 46px;
      left: (273px / 1920px)* 100%;
      background: #FFFFFF;
      max-width: 765px;
      padding: 40px 100px;
    }
    .map{
      max-width: 1327px;
      @include width(1920px, 1327px);
      height: 100%;
      margin: 0 0 0 auto;
    }
    iframe{
      width: 100%;
      min-height: 631px;
      border: 0;
    }
  }
}
