@font-face { font-family: "socialico"; src: url("fonts/Socialico/Socialico.eot"); src: url("fonts/Socialico/Socialico.eot?#iefix") format("embedded-opentype"), url("fonts/Socialico/Socialico.woff2") format("woff2"), url("fonts/Socialico/Socialico.woff") format("woff"), url("fonts/Socialico/Socialico.ttf") format("truetype"), url("fonts/Socialico/Socialico.svg#lobster_1.4regular") format("svg"); }

.suspension-contain { max-height: 980px; overflow: hidden; position: relative; z-index: 999999; }

html.suspended { background: rgba(0, 0, 0, 0.6); }

body { max-width: 100%; min-width: 1200px; margin: 0 auto; text-align: center; font-family: Arial; }

a { color: inherit; text-decoration: none; }

a:hover { text-decoration: none; color: inherit; }

h1, h2, h3, h4, h5 { padding: 0; margin: 0; }

.row { max-width: 1200px; margin: 0 auto; }

/*floats*/
.fl { float: left; }

.fr { float: right; }

/*grids*/
.col-1 { width: 8.33%; }

.col-2 { width: 16.66%; }

.col-3 { width: 25%; }

.col-4 { width: 33.33%; }

.col-5 { width: 41.66%; }

.col-6 { width: 50%; }

.col-7 { width: 58.33%; }

.col-8 { width: 66.66%; }

.col-9 { width: 75%; }

.col-10 { width: 83.33%; }

.col-11 { width: 91.66%; }

.col-12 { width: 100%; }

/*typography*/
.text-primary { color: #B11414; }

.text-bold { font-weight: 700; }

.text-uppercase { text-transform: uppercase; }

.text-center { text-align: center !important; }

.text-left { text-align: left; }

/*button*/
.btn { max-width: 198px; width: 100%; text-align: center; font-family: "Montserrat"; font-size: 13px; font-weight: 400; letter-spacing: 3px; color: #FFFFFF; display: inline-block; padding: 16px 0; background: #D90000; border: 1px solid transparent; -webkit-transition: all 0.5s ease; -o-transition: all 0.5s ease; transition: all 0.5s ease; }

.btn:hover { background: #ddd; border-color: #ddd; color: #333; }

/*clearings*/
.clear { clear: both; }

.clearfix { display: block; }

.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; font-size: 0; }

/*cookie*/
.cc-animate.cc-revoke.cc-bottom { font-size: 14px; padding: 5px 10px; position: fixed; display: block !important; -webkit-transform: none !important; -ms-transform: none !important; transform: none !important; bottom: 0 !important; left: 20px !important; }

/*call to action*/
.destroy-on-load, .cta { display: none; }

/*contact form messages*/
form .messages p { display: none; font-family: Arial !important; font-weight: 400 !important; letter-spacing: 0 !important; font-size: 16px !important; }

form .loading { display: none; }

form .alert { padding: 15px; margin-bottom: 20px; border: 1px solid transparent; border-radius: 4px; }

form .alert-success { color: #3c763d; background-color: #dff0d8; border-color: #d6e9c6; }

form .alert-danger { color: #a94442; background-color: #f2dede; border-color: #ebccd1; }

form [type="submit"] { margin: 20px auto; }

/*contact form*/
.ctc-form { margin: 0 auto; text-align: center; }

.ctc-form input[type="text"] { font-family: Arial; font-size: 16px; color: #000; height: 45px; display: block; width: 100%; border: 1px solid #ddd; border-radius: 3px; padding: 5px 10px; -webkit-box-sizing: border-box; box-sizing: border-box; margin: 0 auto 8px; }

.ctc-form textarea { font-family: Arial; font-size: 16px; color: #000; height: 45px; display: block; width: 100%; border: 1px solid #ddd; border-radius: 3px; padding: 5px 10px; -webkit-box-sizing: border-box; box-sizing: border-box; margin: 0 auto 8px; height: 120px; padding-top: 10px; }

.ctc-form button { display: block; }

.ctc-form .recap { display: inline-block; }

.ctc-form .g-recaptcha div { margin: 0 auto 10px; }

.ctc-form .ctc-hide { display: none; }

/*gallery*/
#content .gallery-container { text-align: center; }

#content .gallery { list-style-type: none; margin: 0; padding: 0; }

#content .gallery li { display: inline-block; }

#content .thumbnail { background-color: #fff; border: 1px solid #ddd; border-radius: 4px; display: block; line-height: .42857; margin-bottom: 20px; padding: 4px; -webkit-transition: border 0.5s ease-in-out 0s; -o-transition: border 0.5s ease-in-out 0s; transition: border 0.5s ease-in-out 0s; }

#content .thumbnail:hover { -webkit-transform: scale(1.02); -ms-transform: scale(1.02); transform: scale(1.02); }

#content .page_navigation { display: inline-block; }

#content .page_link, #content .previous_link, #content .next_link, #content .first_link, #content .last_link, #content .ellipse { background-color: #fff; border: 1px solid #ddd; color: #0275d8; display: inline-block; line-height: 1.25; margin-left: -1px; padding: 0.5rem 0.75rem; position: relative; }

#content .page_navigation > a:hover { background-color: #eceeef; border-color: #ddd; color: #014c8c; text-decoration: none; }

.page_navigation > a.active_page { background-color: #eceeef; border-color: #ddd; color: #014c8c; text-decoration: none; }

h1 { font-size: 100px; font-weight: 100; color: #000; }

.socialico { font-family: "socialico"; }

/*header*/
#header .header-top { padding: 6px 0; }

#header .header-top .row { max-width: 1649px; width: 95%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -ms-flex-wrap: nowrap; flex-wrap: nowrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

#header .header-top .email p { margin: 0; font-family: "Century Gothic"; font-weight: 700; font-size: 18px; letter-spacing: normal; line-height: 120%; color: #333333; }

#header .header-top .email p span { font-size: 14px; color: #D90000; display: inline-block; vertical-align: middle; }

#header .header-top .phone p { margin: 0; font-family: "Century Gothic"; font-weight: 700; font-size: 28px; letter-spacing: normal; line-height: 120%; color: #333333; }

#header .header-top .phone p span { font-size: 14px; color: #D90000; display: inline-block; vertical-align: middle; }

#header .header-bottom { background: #00254A; }

#header .header-bottom .row { max-width: 1649px; width: 95%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -ms-flex-wrap: nowrap; flex-wrap: nowrap; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

#header .header-bottom .header-nav { -ms-flex-preferred-size: 69.5%; flex-basis: 69.5%; }

#header .header-bottom .social-media { -ms-flex-preferred-size: 29%; flex-basis: 29%; text-align: right; }

#header .header-bottom .social-media a { font-size: 41px; color: #FFFFFF; margin: 0 0.4vw 0 0; -webkit-transition: 0.5s all ease; -o-transition: 0.5s all ease; transition: 0.5s all ease; }

#header .header-bottom .social-media a:hover { color: #D90000; }

#header nav { max-width: 792px; }

#header nav a#pull { display: none; }

#header nav ul { margin: 0; padding: 0; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -ms-flex-wrap: nowrap; flex-wrap: nowrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

#header nav ul li { display: inline-block; vertical-align: middle; }

#header nav ul li a { display: inline-block; -webkit-box-sizing: border-box; box-sizing: border-box; padding: 25.5px 21px; font-family: "Century Gothic"; font-weight: 700; font-size: 16px; letter-spacing: normal; line-height: 120%; color: #FFFFFF; }

#header nav ul li.active-menu a, #header nav ul li a:hover { background: #D90000; color: #fff; }

/*banner*/
#banner { position: relative; }

#banner .slider img { width: 100%; height: 893px; -o-object-fit: cover; object-fit: cover; }

#banner .row { position: absolute; top: 0; right: 0; left: 0; bottom: 0; max-width: 1200px; -webkit-box-sizing: border-box; box-sizing: border-box; padding: 68px 0 74px; }

#banner .main-logo { -webkit-filter: drop-shadow(0 0 10px #000000); filter: drop-shadow(0 0 10px #000000); width: 43.66667%; }

#banner h1 { margin: 304px 0 0; font-family: "Teko"; font-weight: 700; font-size: 65px; letter-spacing: 7px; line-height: 120%; color: #FFFFFF; text-shadow: 5px 5px 10px #333333; }

#banner p { margin: 0 auto 1.667vw; max-width: 1078px; font-family: "Open Sans"; font-weight: 600; font-size: 20px; letter-spacing: 1px; line-height: 180%; color: #FFFFFF; }

#banner .btn { max-width: 242px; font-size: 18px; font-weight: 700; padding: 21.5px 0; }

/*-----------------------------------------------------------------
-------------------------------------------------------------------
-----------------------------------------------------------------*/
#services { margin: -4px 0 0; }

#services .row { max-width: 1920px; width: 100%; }

#services .service1, #services .service2, #services .service3 { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: flex; flex-direction: flex; -ms-flex-wrap: nowrap; flex-wrap: nowrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: stretch; -ms-flex-align: stretch; align-items: stretch; margin-bottom: -4px; }

#services .service1 .image, #services .service1 .text, #services .service2 .image, #services .service2 .text, #services .service3 .image, #services .service3 .text { -ms-flex-preferred-size: 50%; flex-basis: 50%; }

#services .image img { width: 100%; min-height: 521px; -o-object-fit: cover; object-fit: cover; }

#services .text { -webkit-box-sizing: border-box; box-sizing: border-box; text-align: left; }

#services .text.right { padding: 113px 0 0 110px; }

#services .text.right .container { max-width: 568px; width: 95%; margin: 0 auto 0 0; }

#services .text.left { padding: 113px 70px 0 0; }

#services .text.left .container { max-width: 602px; width: 95%; margin: 0 0 0 auto; }

#services .text h3 { font-family: "Teko"; font-weight: 500; font-size: 32px; letter-spacing: 1px; line-height: 120%; color: #D80000; }

#services .text h3 span { color: #003366; }

#services .text p { font-family: "Open Sans"; font-weight: 400; font-size: 15px; letter-spacing: normal; line-height: 32px; color: #333333; }

#services .text .btn { max-width: 198px; font-size: 13px; font-weight: 400; padding: 16px 0; }

/*-----------------------------------------------------------------
-------------------------------------------------------------------
-----------------------------------------------------------------*/
#welcome { background: #003366; }

#welcome .row { max-width: 1920px; width: 100%; }

#welcome .top { position: relative; margin-bottom: -4px; }

#welcome .text { position: absolute; top: 74px; bottom: 71px; left: 185px; max-width: 923px; padding: 54px 98px 54px 85px; -webkit-box-sizing: border-box; box-sizing: border-box; background: #FFFFFF; text-align: left; }

#welcome .text h4 { font-family: "Century Gothic"; font-weight: 700; font-size: 26px; letter-spacing: normal; line-height: 120%; color: #333333; }

#welcome .text h1 { font-family: "Teko"; font-weight: 600; font-size: 65px; letter-spacing: 1px; line-height: 120%; color: #D80000; }

#welcome .text h1 span { color: #003366; }

#welcome .text p { font-family: "Open Sans"; font-weight: 400; font-size: 15px; letter-spacing: normal; line-height: 32px; color: #333333; }

#welcome .text .buttons { margin-top: 30px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: flex; flex-direction: flex; -ms-flex-wrap: nowrap; flex-wrap: nowrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: stretch; -ms-flex-align: stretch; align-items: stretch; }

#welcome .text .buttons h5 { font-family: "Century Gothic"; font-weight: 700; font-size: 14px; letter-spacing: normal; line-height: 120%; color: #D80000; }

#welcome .text .buttons .welcome-phone { font-family: "Century Gothic"; font-weight: 700; font-size: 32px; letter-spacing: normal; line-height: 120%; color: #333333; }

#welcome .main-images { max-width: 1280px; width: 66.66667%; margin: 0 0 0 auto; }

#welcome .main-images img { width: 100%; min-height: 853px; -o-object-fit: cover; object-fit: cover; }

#welcome .container-images { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: flex; flex-direction: flex; -ms-flex-wrap: nowrap; flex-wrap: nowrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: stretch; -ms-flex-align: stretch; align-items: stretch; }

#welcome .container-images img { width: 25%; -ms-flex-preferred-size: 25%; flex-basis: 25%; }

/*-----------------------------------------------------------------
-------------------------------------------------------------------
-----------------------------------------------------------------*/
#contact .row { max-width: 1920px; width: 100%; }

#contact .top { padding: 100px 0 70px; }

#contact .top h2 { font-family: "Teko"; font-weight: 500; font-size: 53px; letter-spacing: 1px; line-height: 120%; color: #D80000; width: 95%; margin: 0 auto; }

#contact .top p { font-family: "Open Sans"; font-weight: 500; font-size: 20px; letter-spacing: 0.7px; line-height: 180%; color: #333333; max-width: 1078px; width: 95%; margin: 30px auto; }

#contact .bottom { background: #D90000; position: relative; }

#contact .bottom .contact-form { position: absolute; -webkit-box-sizing: border-box; box-sizing: border-box; top: 49px; bottom: 46px; left: 14.21875%; background: #FFFFFF; max-width: 765px; padding: 40px 100px; }

#contact .bottom .map { max-width: 1327px; width: 69.11458%; height: 100%; margin: 0 0 0 auto; }

#contact .bottom iframe { width: 100%; min-height: 631px; border: 0; }

/*-----------------------------------------------------------------
-------------------------------------------------------------------
-----------------------------------------------------------------*/
/*footer*/
#footer { background: #04396C; padding: 40px 0; }

#footer .silver img { display: inline-block; vertical-align: middle; max-width: 50px; }

/*inner pages*/
.inner #content { min-height: 400px; padding: 40px 0; }

/*privacy policy*/
.inPrivacyBox { max-width: 850px; margin: 0 auto; }

.inPrivacyBox p { text-align: justify !important; }

/** Responsive
-------------------------------------------------------*/
/*@media screen and (max-width:1440px){

}*/
/*@media screen and (max-width:1280px){

}*/
/*@media screen and (max-width: 1024px){
	body {min-width: 320px}
	.row {width: 95%}
}*/
/*@media screen and (max-width: 800px){
  [class*="col-"] {
    width: 100%;
  }
	#header {padding: 0}
	#header .row {width: 100%}
	#header nav {display:block; height: auto; }
  	#header nav ul { width: 100%; display: none; height: auto;border-bottom:5px solid #000; padding: 0 15px;}
  	#header nav ul li { width: 100%;position: relative; }
  	#header nav ul li a { display: block; float:none; padding: 10px 0;}
  	#header nav a {text-align: left; width: 100%;}
	#header nav a strong {position: absolute; top: 50%; transform: translateY(-50%); left: 15px;}
	#header nav a#pull {display: block; color: #fff; background-color: #000; height: 30px;padding: 10px 0; width: 100%; position: relative;}
	#header nav a#pull:after { content:""; background: url('../images/nav-icon.png') no-repeat; width: 20px; height: 20px; display: inline-block; position: absolute; right: 15px; top: 50%; transform: translateY(-50%);}

	.cta{background: #035B96  url("../images/common/phonecall.png") no-repeat center center;border-bottom-left-radius: 40px;border-top: 2px solid #013f9a ;border-top-left-radius: 40px;bottom: 1%;display: block;height: 80px;position: fixed;right: 0;text-decoration: none; text-indent: -9999em;width: 100px;z-index: 999;}
}*/
/*@media screen and (max-width:640px){

}*/
/*@media screen and (max-width:480px){

}*/
/*@media screen and (max-width:400px){

}*/
/*@media screen and (max-width:320px){

}*/
